<nav class="d-flex">
    <label class="logo"> {{ 'Refaccionaria HenMay' | uppercase }}</label>
    <ul>
        <li>
            <span>
                <strong>Bienvenido: </strong>{{ userName || 'Usuario' }}
            </span>
        </li>
        <li class="li-btn">
            <button pButton pRipple
                type="button" icon="pi pi-sign-out"
                class="p-button-rounded btn-bg-black"
                (click)="logout()" >
            </button>
        </li>
    </ul>
</nav>
    
<div class="card">
    <div class="d-flex align-items-center justify-content-center h-4rem  border-round m-2">
        <p-tabMenu [model]="items" [scrollable]="true" class=""></p-tabMenu>
    </div>
    <div class="d-flex align-items-center justify-content-center h-4rem  border-round m-2">
        <router-outlet class="container"></router-outlet>
    </div>    
</div>


<style>
    nav{
        background: var(--nav-header-color);
        height: 80px;
    }

    label.logo{
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-family: var(--font-family);
    }

    nav ul{
        float: right;
        margin-right: 20px;
    }

    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    nav ul li.li-btn{
        display: inline-block;
        line-height: 45px;
        margin: 0 5px;
    }

    nav ul li span{
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }
</style>