<h2 class="mx-2">Marcas</h2>
<p-table #tablaM [value]="marcas" dataKey="id"        
        [resizableColumns]="true" columnResizeMode="expand" styleClass="p-datatable-gridlines" responsiveLayout="scroll"
        [rows]="3" [showCurrentPageReport]="true" [rowsPerPageOptions]="[3, 6, 12]" [loading]="loading"
        styleClass="p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['description']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton
                    (click)="[verModal = true, esEditar = false, formMarca.reset()]"
                    label="Agregar" class="p-button-submit" icon="pi pi-plus"></button>
                <!-- <button pButton label="Clear" class="p-button-outlined mx-1" icon="pi pi-filter-slash"></button> -->
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th pSortableColumn="description">
                <div class="flex justify-content-between align-items-center">
                    Marca
                    <p-sortIcon field="description"></p-sortIcon>
                </div>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-marca>
        <tr>
            <td> {{ marca.description }} </td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil"
                    (click)="abrirModalEditar(marca)"
                    class="p-button-rounded p-button-info mx-1">
                </button>
                <button pButton pRipple type="button" icon="pi pi-times"
                    (click)="msjConfirm(marca.description, marca.id_marca)"
                    class="p-button-rounded p-button-danger mx-1">
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No se encontraron marcas.</td>
        </tr>
    </ng-template>
</p-table>

<!-- MODAL de Agregar -->
<p-dialog [header]="(esEditar) ? 'Editar Marca' : 'Agregar Marca'"
    [(visible)]="verModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" class="text-center">
    <form action="" class="grid p-fluid py-5" [formGroup]="formMarca">
        <div class="field col-11 md:col-6 mx-auto">
            <span class="p-float-label">
                <input pInputText  id="description" type="text" formControlName="description"> 
                <label for="description">Marca</label>
            </span>
        </div>
    </form>
    <ng-template pTemplate="footer" class="mt-5">
        <p-button icon="pi pi-plus"  label="Agregar" 
            (click)="agregarMarca()" [disabled]="!formMarca.valid"
            styleClass="p-button-info" [hidden]="esEditar">
        </p-button>
        <p-button icon="pi pi-check" label="Guardar"
            (click)="editarMarca()" [disabled]="!formMarca.valid"
            styleClass="p-button-info" [hidden]="!esEditar">
        </p-button>
    </ng-template>
</p-dialog>